/*===============================================*/
/* common */
/*===============================================*/
/* QWidget */
QWidget, QWidget * {
    background-color: #201010;
    font-family: "Allan";
    font-size: 20px;
    color: white;
    border: none;
    outline: none
}
/*===============================================*/
/* QSizeGrip */
QWidget QSizeGrip {
    background-color: #503030;
}
/*===============================================*/
/* QToolTip */
QWidget QToolTip {
    background-color: #305030;
    border-radius: 5px;
}
/*===============================================*/
/* QMessageBox */
QMessageBox {
    border: 1px solid #ffffff;
}
QMessageBox QPushButton {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 10px;
}
QMessageBox QPushButton:hover {
    background-color: #303050;
}
QMessageBox QPushButton:pressed {
    background-color: transparent;
}
/*===============================================*/
/* custom */
/*===============================================*/
/* GAddressBar */
GAddressBar * {
    background-color: transparent;
}
GAddressBar {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 5px;
}
/*===============================================*/
/* GLineEdit */
GLineEdit * {
    background-color: transparent;
}
GLineEdit QLineEdit#edit {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 5px;
}
/*===============================================*/
/* GListBox */
GListBox * {
    background-color: transparent;
}
GListBox QPushButton#item,
GListBox QFrame#item {
    padding: 5px 10px;
    text-align: left;
}
GListBox QPushButton#item:hover,
GListBox QFrame#item:hover {
    background-color: #503030;
}
GListBox QPushButton#item:pressed,
GListBox QFrame#item:pressed {
    background-color: transparent;
}
GListBox QPushButton#key {
    text-align: left;
}
/*===============================================*/
/* GLogin */
GLogin * {
    background-color: transparent;
}
GLogin QFrame#content {
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-width: 500px;
    padding: 10px;
}
GLogin QPushButton#profil {
    background-color: #503030;
    border-radius: 100px;
    min-width: 200px;
    min-height: 200px;
    margin: 20px 0px 0px 0px;
}
GLogin QLabel#message {
    color: #ff0000;
}
GLogin QFrame#username,
GLogin QFrame#password {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 5px;
}
GLogin QPushButton#cancel,
GLogin QPushButton#login {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 10px;
}
GLogin QPushButton#cancel:hover,
GLogin QPushButton#login:hover {
    background-color: #303050;
}
GLogin QPushButton#cancel:pressed,
GLogin QPushButton#login:pressed {
    background-color: transparent;
}
/*===============================================*/
/* GUserAdd */
GUserAdd * {
    background-color: transparent;
}
GUserAdd QFrame#content {
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-width: 500px;
    padding: 10px;
}
GUserAdd QPushButton#profil {
    background-color: #503030;
    border-radius: 100px;
    min-width: 200px;
    min-height: 200px;
    margin: 20px 0px 0px 0px;
}
GUserAdd QLabel#message {
    color: #ff0000;
}
GUserAdd QFrame#username,
GUserAdd QFrame#password,
GUserAdd QFrame#confirm {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 5px;
}
GUserAdd QPushButton#cancel,
GUserAdd QPushButton#login {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 10px;
}
GUserAdd QPushButton#cancel:hover,
GUserAdd QPushButton#login:hover {
    background-color: #303050;
}
GUserAdd QPushButton#cancel:pressed,
GUserAdd QPushButton#login:pressed {
    background-color: transparent;
}
/*===============================================*/
/* GSchema */
GSchema * {
    background-color: transparent;
}
GSchema QTextEdit#text {
    padding: 10px;
}
/*===============================================*/
/* GSQLiteTables */
GSQLiteTables QPushButton#show {
    background-color: #303050;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    padding: 2px 10px;
}
/*===============================================*/
/* GListWidget */
GListWidget * {
    background-color: transparent;
}
GListWidget {
    border: 1px solid #ffffff;
}
GListWidget QPushButton#row {
    text-align: left;
}
GListWidget QListView::item {
    padding: 5px 10px;
}
GListWidget QListView::item:hover {
    background-color: #503030;
}
/*===============================================*/
/* property */
/*===============================================*/
/* border */
GHome, GSQLiteTables, GSchema, GUserShow, GBuilder {
    border: 1px solid #ffffff;
}
/*===============================================*/
