/*===============================================*/
/* common */
/*===============================================*/
/* QWidget */
QWidget, QWidget * {
    background-color: #201010;
    font-family: "Allan";
    font-size: 20px;
    color: white;
    border: none;
    outline: none
}
/*===============================================*/
/* custom */
/*===============================================*/
/* GAddressBar */
GAddressBar * {
    background-color: transparent;
}
GAddressBar QLineEdit#address {
    background-color: #503030;
    border-radius: 5px;
    padding: 2px 5px;
}
/*===============================================*/
/* GListBox */
GListBox * {
    background-color: transparent;
}
GListBox {
    border: 1px solid #ffffff;
}
GListBox QPushButton#item {
    padding: 5px 10px;
    text-align: left;
}
GListBox QPushButton#item:hover {
    background-color: #503030;
}
GListBox QPushButton#item:pressed {
    background-color: transparent;
}
/*===============================================*/
